
.breadcrumb {
  margin-top: 35px;
  margin-bottom: 18px;
  padding: 0;
  background-color: transparent;
  font-size: 12px;
  font-style: italic;

  @media(max-width: $screen-md){

  }
  @media(max-width: $screen-sm){

  }

  li {

    a {
      font-size: 12px;
      color: #4f4f4f;

      &:hover, &:focus {
        color: #4f4f4f;
        text-decoration: none;
      }
    }

    & + li::before {
      content: "~";
      color: #0095d9;
      font-size: 14px;
      padding-left: 0px;
      padding-right: 6px;
      margin: 0px -4px 0px 0px;
    }

    &.active {
      color: #0d0d0d;
    }
  }
}

.pagination {
  margin: 0;
  font-size: 12px;
  line-height: normal;

  li {
    a {
      line-height: 18px;
      padding: 0px 3px;
      border: none;
      color: #000;

      &:hover, &:focus {
        color: #000;
        background-color: transparent;
      }

      &[aria-label="Previous"] {
        padding-left: 0;
        padding-right: 3px;
        font-size: 14px;
      }

      &[aria-label="Next"] {
        padding-right: 0;
        padding-left: 3px;
        font-size: 14px;
      }
    }

    &.active {
      a {
        background: transparent;
        font-size: 14px;
        color: #ff4d00;

        &:hover, &:focus {
          color: #ff4d00;
          background: transparent;
        }
      }
    }
  }
}
