button {
  outline: none;
  border: none;
}

.btn {
  border: none;
  position: relative;
  z-index: 1;
  outline: none !important;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;

  &:active, &:focus {
    box-shadow: none;
    outline: 0px;
  }

  &__promo {
    padding: 10px 20px 11px 20px;
    font-size: 16px;
    letter-spacing: 1.5px;
    border-radius: 22px;
    border: none;
    color: white;
    box-shadow: 0px 5px 20px rgba(0, 149, 217, 0.7);
    @include transition(all .2s ease-in-out);
    text-transform: uppercase;
    //background-color: $color-deep;
    background: rgb(37,186,255);
    background: -moz-linear-gradient(left, rgba(37,186,255,1) 45%, rgba(0,157,229,1) 100%);
    background: -webkit-linear-gradient(left, rgba(37,186,255,1) 45%,rgba(0,157,229,1) 100%);
    background: linear-gradient(to right, rgba(37,186,255,1) 45%,rgba(0,157,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25baff', endColorstr='#009de5',GradientType=1 );

    @media (max-width: $screen-sm){
      font-size: 14px;
    }
    @media (max-width: $screen-md){

    }

    &:hover, &:focus {
      background: rgb(37,186,255);
      background: -moz-linear-gradient(left, rgba(37,186,255,1) 45%, rgba(0,157,229,1) 100%);
      background: -webkit-linear-gradient(left, rgba(37,186,255,1) 45%,rgba(0,157,229,1) 100%);
      background: linear-gradient(to right, rgba(37,186,255,1) 45%,rgba(0,157,229,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25baff', endColorstr='#009de5',GradientType=1 );
      opacity: $opacity-main;
      color: white;
      box-shadow: 0px 5px 20px rgba(0, 149, 217, 0.7);
    }

    &--clear {
        background: transparent;
        color: #2b2b2b;
        box-shadow: none;

        &:hover, &:focus {
            background: transparent;
            color: #2b2b2b;
            box-shadow: none;
        }
    }

    &--main {
      background: #fff;
      border: 2px solid #0095d9;
      color: #0095d9;

      &:hover, &:focus {
        color: #0095d9;
        background: #fff;
      }
    }
  }

  &-default {
    background-color: #eeeeee;

    &.active {
      background-color: #0095d9;
      color: white;

      &:hover, &:focus {
        background-color: #0095d9;
        color: white;
      }
    }
  }

  &-info {
    border: 2px solid #e5e5e5;
    background-color: #fff;
    color: #000;
    box-shadow: none;

    &:hover, &:focus {
      background-color: #fff;
      border-color: #e5e5e5;
      color: #000;
    }
    
    &:active {
      &:focus {
        background-color: #fff;
        color: #000;
        border-color: #e5e5e5;
      }
    }

    &.active {
      background-color: #fff;
      border-color: #0095d9;
      color: #0095d9;
      box-shadow: none;

      &:hover, &:focus {
        background-color: #fff;
        border-color: #0095d9;
        color: #0095d9;
      }
    }
  }
}
