
@import url('https://fonts.googleapis.com/css?family=Arsenal:400,700&subset=cyrillic');

@font-face {
  font-family: 'OfficinaSerifC-Bold';
  src: url('../fonts/OfficinaSerifC Bold.eot');
  src: local('☺'), url('../fonts/OfficinaSerifC Bold.woff') format('woff'), url('../fonts/OfficinaSerifC Bold.ttf') format('truetype'), url('../fonts/OfficinaSerifC Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

