
textarea {
  border-radius: $border-radius;
  font-size: 13px;
  color: #787886;
  padding: 10px 0px;
  outline: none;
  resize: vertical;
  line-height: 37px;
  border: 2px solid #0095d9;
  height: 100px;
  background-color: transparent;
  box-shadow: 1px 10px 18px rgba(0, 0, 0, 0.05);

  @media(max-width: $screen-md){
    font-size: 16px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #787886;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #787886;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #787886;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #787886;
  }

  &:focus {
    box-shadow: 1px 10px 18px rgba(0, 0, 0, 0.05);
  }
}

input {
  outline: none;
  height: 41px;
  line-height: 37px;
  border-radius: $border-radius !important;
  border: 2px solid #0095d9;
  box-shadow: 1px 10px 18px rgba(0, 0, 0, 0.05);
  background-color: transparent;
  color: #000;
  font-size: 15px;
  padding: 6px 12px;

  @media(max-width: $screen-md){
    font-size: 16px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }

  &:focus {
    box-shadow: 1px 10px 18px rgba(0, 0, 0, 0.05);
  }

  &[type="radio"]{
    box-shadow: none;
    margin: 0;
    vertical-align: middle;
  }

  &[type="checkbox"]{
    box-shadow: none;
    margin: 0;
    vertical-align: middle;
  }
}

.input {
  &--default {
    background-color: #eeeeee;
    border-color: #eeeeee;
    border-radius: 5px !important;
    box-shadow: none;
    padding: 4px 10px 7px 10px;
    font-size: 16px;

    &:focus {
      box-shadow: none;
    }
  }
}

form {
  margin: 0;
  padding: 0;
}

.checkbox {
  margin: 0;
  padding: 0;
  font-size: 16px;

  label {
    padding-left: 0;
  }

  input {
    margin-right: 5px;
  }

  &__text {
    vertical-align: middle;
  }
}

.radio {
  margin: 0;
  padding: 0;
  font-size: 16px;

  label {
    padding-left: 0;
  }

  input {
    margin-right: 5px;
  }

  &__text {
    vertical-align: middle;
  }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.radio-inline {
  //margin-bottom: 0;
}

.radio-inline {
  //margin-bottom: 0;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 25px;
}

.form-group {
  color: #363636;
  margin-bottom: 32px;

  label {
    //margin-bottom: 16px;
  }

  textarea.form-control {
    min-height: 100px;
  }

  .input-group {
    width: 100%;
    border-radius: 20px;
  }

  &.has-error {
    .form-control {

    }
  }
}

.form-control {
  border-radius: 20px;
  height: 41px;
  border-color: white;
  padding: 4px 20px 7px;
  font-size: 15px;
  box-shadow: 1px 10px 18px rgba(0, 0, 0, 0.05);

  &:focus {
    border-color: white;
    box-shadow: 1px 10px 18px rgba(0, 0, 0, 0.05);
  }
}

.promo-upload {
  &__circle {
    width: 41px;
    height: 41px;
    background: white;
    border-radius: 50%;
    font-weight: 100;
    font-size: 12px;
    overflow: hidden;
    display: inline-block;
    line-height: 41px;
    text-align: center;
    box-shadow: 10px 1px 16px rgba(0, 0, 0, 0.05);
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 16px;

    .promo-upload--dark & {
      color: #555555;
    }
  }

  &__content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0.8px;
  }

  input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__text {
    display: inline-block;
    margin: 0;
  }

  &--dark {

  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

// checkbox & radio
.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  display: none !important;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  cursor: pointer;
  font-size: 14px;
}

.checkbox-custom-label, .radio-custom-label {
  position: relative;
  font-weight: normal;

  &:before {
    margin-top: -3px;
  }
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
  content: '';
  background: white;
  border: 1px solid #ff572a;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  padding: 2px;
  margin-right: 6px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\e013";
  color: #ff572a;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 7px;
}

.radio-custom + .radio-custom-label:before {
  border-width: 3px;
}

.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
  border-color: #eeeeee;
}

.radio-custom:checked + .radio-custom-label:before {
  content: "";
  background: white;
  border-color: #ff572a;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  //outline: 1px solid #ddd; /* focus style */
}


.list-dot {
  padding: 0;
  list-style: none;
  margin: 0;

  li {
    position: relative;
    padding-left: 13px;

    &:before {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $color-bright;
    }
  }
}
