
.promo-item {
  padding-top: 1px;
  font-size: 13px;
  color: #000;

  &__block {
    margin-bottom: 32px;

    &:last-child {
      //margin-bottom: 0;
    }
  }

  &__box {
    display: block;
    box-shadow: 0px 10px 30px rgba(136, 218, 255, 0.4);
    overflow: hidden;
    border-radius: 5px;

    @media(max-width: $screen-md){
      box-shadow: 0px 0px 15px rgba(136, 218, 255, 0.4);
    }
  }

  &__top {
    min-height: 76px;
    margin-bottom: 10px;
  }

  &__img {
    width: 84px;
    height: 76px;
    overflow: hidden;
    position: relative;
    float: left;

    img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      max-width: 120%;
      max-height: 120%;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__text {
    padding-left: 95px;
    padding-top: 8px;
  }

  &__title {
    color: #0087d4;
    font-weight: bold;
    min-height: 33px;
  }

  &__price {
    font-weight: bold;
    color: #000;
    font-size: 12px;
    margin: 0;
  }

  &__description {
    color: #000;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;
    height: 56px;
    overflow: hidden;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 10px 6px 10px;
    font-size: 12px;
    min-height: 24px;
    background-color: #e5f7ff;

    & > * {
      color: #737373;
      margin: 0;
      letter-spacing: 0.2px;
    }
  }
}

.attention-item {
  $block-name: &; // #{$block-name}__element {}
  @include make-row;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 9px;

  @media(max-width: $screen-md){
    margin-left: -10px;
    margin-right: -10px;
  }
  @media(max-width: $screen-sm){
    margin-bottom: 0;
  }

  &__block {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(8);
    padding: 0px 16px !important;
    margin-bottom: 29px;

    @media(max-width: $screen-md){
      padding-left: 10px !important;
      padding-right: 10px !important;
      margin-bottom: 22px;
    }
    @media(max-width: 500px){
      width: 100%;
    }

    &--half {
      @include make-xs-column(24);
      @include make-sm-column(12);
      @include make-md-column(12);

      #{$block-name} {
        &__box {
          &__cell {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            height: 100%;
            padding: 0px 30px 0px 70px;

            @media(max-width: $screen-sm){
              display: table-cell;
              vertical-align: top;
              padding-top: 38px;
              padding-bottom: 10px;
              padding-left: 0;
              padding-right: 0;
            }
          }
        }

        &__img {
          margin: 0;

          @media(max-width: $screen-sm){
            margin-bottom: 38px;
          }
        }

        &__text {
          width: 195px;
          padding: 0px;

          @media(max-width: $screen-sm){
            width: 100%;
          }

          p {
            font-size: 24px;
            margin: 0;

            @media(max-width: $screen-sm){
              font-size: 17px;
            }
          }
        }
      }
    }

    &--square {
      @include make-xs-column(24);
      @include make-sm-column(6);
      @include make-md-column(6);
    }
  }

  &__box {
    display: table;
    width: 100%;
    height: 276px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-color: #0095d9;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(136, 218, 255, 0.4);

    &:before {
      content: '';
      position: absolute;
      top: 30px;
      left: 50px;
      z-index: 1;
      width: 0px;
      height: 0px;
      box-shadow: 0px 0px 120px 75px rgba(255, 255, 255, 0.6);
    }

    &__cell {
      display: table-cell;
      vertical-align: top;
      padding-top: 38px;
      padding-bottom: 10px;
    }
  }

  &__img {
    height: 136px;
    margin-bottom: 38px;
  }

  &__text {
    padding: 0px 50px;
    color: white;
    font-family: $officinaserifc-bold;

    p {
      color: white;
      font-size: 17px;
      letter-spacing: 0.5px;
    }
  }

  &--catalog {
    #{$block-name}{
      &__block {
        margin-bottom: 33px;
      }
    }
  }
}