.modal-backdrop {
   background: rgba(67, 87, 121, 0.6);

   &.in {

   }
 }

.modal {
  $block-name: &; // #{$block-name}__element {}

  &-content {
    border: none;
    border-radius: 5px;
  }

  &-header {
    padding: 34px 31px;
    border-bottom: none;
    height: 169px;
    background-color: #1db2f7;
    border-radius: 5px 5px 0px 0px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 93px;
      left: 0;
      z-index: 0;
      pointer-events: none;
      background-image: url("../img/big-line-dark.png");
      width: 266px;
      height: 44px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &-body {
    background-image: linear-gradient(to bottom, #1db2f7, #17aaef, #11a3e8, #099be0, #0194d8);
    padding: 0px 32px 100px 32px;
    border-radius: 0px 0px 5px 5px;
  }

  .close {
    position: absolute;
    top: -16px;
    right: -17px;
    opacity: 1;
  }

  &-title {
    margin-bottom: 4px;
  }

  &--mini {
    #{$block-name} {
      &-dialog {
        width: 340px;
      }
    }
  }
}