// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$close-name: 'close';
$close-x: 54px;
$close-y: 0px;
$close-offset-x: -54px;
$close-offset-y: 0px;
$close-width: 18px;
$close-height: 18px;
$close-total-width: 72px;
$close-total-height: 70px;
$close-image: '../img/sprite.png';
$close: (54px, 0px, -54px, 0px, 18px, 18px, 72px, 70px, '../img/sprite.png', 'close', );
$delete-black-name: 'delete-black';
$delete-black-x: 38px;
$delete-black-y: 54px;
$delete-black-offset-x: -38px;
$delete-black-offset-y: -54px;
$delete-black-width: 12px;
$delete-black-height: 14px;
$delete-black-total-width: 72px;
$delete-black-total-height: 70px;
$delete-black-image: '../img/sprite.png';
$delete-black: (38px, 54px, -38px, -54px, 12px, 14px, 72px, 70px, '../img/sprite.png', 'delete-black', );
$edit-black-name: 'edit-black';
$edit-black-x: 54px;
$edit-black-y: 23px;
$edit-black-offset-x: -54px;
$edit-black-offset-y: -23px;
$edit-black-width: 18px;
$edit-black-height: 18px;
$edit-black-total-width: 72px;
$edit-black-total-height: 70px;
$edit-black-image: '../img/sprite.png';
$edit-black: (54px, 23px, -54px, -23px, 18px, 18px, 72px, 70px, '../img/sprite.png', 'edit-black', );
$lock-name: 'lock';
$lock-x: 0px;
$lock-y: 54px;
$lock-offset-x: 0px;
$lock-offset-y: -54px;
$lock-width: 14px;
$lock-height: 16px;
$lock-total-width: 72px;
$lock-total-height: 70px;
$lock-image: '../img/sprite.png';
$lock: (0px, 54px, 0px, -54px, 14px, 16px, 72px, 70px, '../img/sprite.png', 'lock', );
$play-name: 'play';
$play-x: 0px;
$play-y: 0px;
$play-offset-x: 0px;
$play-offset-y: 0px;
$play-width: 49px;
$play-height: 49px;
$play-total-width: 72px;
$play-total-height: 70px;
$play-image: '../img/sprite.png';
$play: (0px, 0px, 0px, 0px, 49px, 49px, 72px, 70px, '../img/sprite.png', 'play', );
$search-name: 'search';
$search-x: 19px;
$search-y: 54px;
$search-offset-x: -19px;
$search-offset-y: -54px;
$search-width: 14px;
$search-height: 14px;
$search-total-width: 72px;
$search-total-height: 70px;
$search-image: '../img/sprite.png';
$search: (19px, 54px, -19px, -54px, 14px, 14px, 72px, 70px, '../img/sprite.png', 'search', );
$spritesheet-width: 72px;
$spritesheet-height: 70px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($close, $delete-black, $edit-black, $lock, $play, $search, );
$spritesheet: (72px, 70px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
